<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question</title>
  </head>
  <body>
    <h1>details page of question</h1>

    <div class="question_title">
      <h2>Question Title</h2>
    </div>

    <div class="already_did_by_user">
      <p>user already did content</p>
    </div>

    <div class="answer">
      <p>post the answer from database</p>
    </div>

    <div class="comment_answer">
      <p>Your answer</p>
      <form action="#">
        <textarea
          name="comment_answer"
          id="comment_answer"
          cols="30"
          rows="10"
          placeholder="Enter answer"
        ></textarea>
        <input type="submit" value="Post your answer" />
      </form>
    </div>
  </body>
</html>
